<!-- <div>
  <label>Enter number of questions:</label>
  <input type="number" [(ngModel)]="numberOfQuestions" />
  <button (click)="submit()">Next</button>
</div> -->


<h2>Quiz Details</h2>

<label>Title</label>
<input type="text" [(ngModel)]="title">
<br>
<label>Start Date</label>
<input type="date" [(ngModel)]="startDate">
<br>
<label>End Date</label>
<input type="date" [(ngModel)]="endDate">
<br>
<label>Number of Questions</label>
<input type="text" [(ngModel)]="numberOfQuestions">

<br>
<button (click)="submit()">Next Create Questions</button>