<div class="dashboard-container">
    
    <div class="sidebar">
        <button class="side_button" style="width: 70px;" type="button" (click)="goHome()">Home</button>
        <button class="side_button" style="width: 70px;" type="button" (click)="viewUsers()">User</button>
        <button class="side_button" style="width: 70px;" type="button" (click)="signOut()">SignOut</button>
    </div>


    <div class="main-content">     
        <div class="header">
            <span class="username">Welcome, {{ userName }}</span>
        </div>
        <div class="entire-content">
         
            <div class="center-content">
                <p-card class="pie-card">
                    <div class="chart-section">
                        <p-chart type="pie" [data]="pieChartData" [options]="pieOptions" [plugins]="plugins"></p-chart>
                    </div>
                </p-card>
                <div>
                    <div class="stats-cards">
                        <p-card class="card" header="Total Students at Exam">
                            <p>{{ stats.total }}</p>
                        </p-card>
                        <p-card class="card" header="Exam Finished">
                            <p>{{ stats.finished }}</p>
                        </p-card>
                        <p-card class="card" header="Running Exams">
                            <p>{{ stats.running }}</p>
                        </p-card>
                        <p-card class="card" header="Completion Rate">
                            <p>{{ stats.completionRate }}%</p>
                        </p-card>
                    </div>

                    <div class="quiz-entry">
                        <p-card header="Create New Exam">
                            <!-- <form (ngSubmit)="createExam()"> -->
                                <label style="font-size: small;">Add a Questionnaire</label>
                                <!-- <input pInputText type="number" [(ngModel)]="totalQuestions" name="totalQuestions"
                                    required /> -->
                                <p-button label="Create Exam" (onClick)="createQuiz()"></p-button>
                            <!-- </form> -->
                        </p-card>
                    </div>
                </div>
            </div>
            
            <div class="table">
                <p-table [value]="quizzes" class="exam-table">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Title</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Actions</th>
                    </tr>
                  </ng-template>
              
                  <ng-template pTemplate="body" let-quiz>
                    <tr>
                      <td>{{ quiz.title }}</td>
                      <td>{{ quiz.startDate }}</td>
                      <td>{{ quiz.endDate }}</td>
                      <td>
                        <button pButton type="button" label="View Results" (click)="viewResults(quiz.id)"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
        </div>
    </div>
</div>