<div class="dashboard-container">
    <div class="header">
        <span class="username">Welcome, {{firstName }}</span>
        
    </div>
    <div class="main-content">
        <div class="sidebar">
            <button style="width: 70px;" type="button" (click)="goHome()">Home</button>
            <button style="width: 70px;" type="button" (click)="viewUsers()">User</button>
            <button style="width: 70px;" type="button" (click)="signOut()">SignOut</button>
        </div>

    </div>
</div>