<div class="dashboard-container">
    
    <div class="main-content">
        <div class="topbar">
          <span class="welcome-msg">Welcome, {{ firstName }}</span>
        </div>
      
        <div class="tab-buttons">
          <button [class.active]="currentTab === 'active'" (click)="currentTab = 'active'">Active ({{ activeQuizzes.length }})</button>
          <button [class.active]="currentTab === 'completed'" (click)="currentTab = 'completed'">Completed ({{ completedQuizzes.length }})</button>
      
          <!-- <select [(ngModel)]="sortOrder" (change)="sortQuizzes(sortOrder)">
            <option value="asc">Sort A-Z</option>
            <option value="desc">Sort Z-A</option>
          </select> -->
        </div>
      
        <div class="quiz-cards">
          <div *ngFor="let quiz of (currentTab === 'active' ? activeQuizzes : completedQuizzes)" class="quiz-card">
            <h3>{{ quiz.title }}</h3>
            <p><strong>Start:</strong> {{ quiz.startDate }}</p>
            <button pButton label="Start" class="p-button-success" (click)="openQuiz(quiz)"></button>
          </div>
        </div>
      </div>
</div>