<div class="top">
    <span class="leftside">Exam Dashboard</span>
    <span class="topbar">Welcome, {{ firstName }}</span>
    
</div>
<div class="dashboard-container">
    
    <div class="sidebar">
        <button class="side_button" style="width: 70px;" type="button" (click)="goHome()">Home</button>
        <button class="side_button" style="width: 70px;" type="button" (click)="viewUsers()">User</button>
        <button class="side_button" style="width: 70px;" type="button" (click)="signOut()">SignOut</button>
    </div>
    
    <div class="main-content">
        
        
      
        <div class="tab-buttons">
          <button [class.active]="currentTab === 'active'" (click)="currentTab = 'active'">Active ({{ activeQuizzes.length }})</button>
          <button [class.active]="currentTab === 'completed'" (click)="currentTab = 'completed'">Completed ({{ completedQuizzes.length }})</button>
      
          <!-- <select [(ngModel)]="sortOrder" (change)="sortQuizzes(sortOrder)">
            <option value="asc">Sort A-Z</option>
            <option value="desc">Sort Z-A</option>
          </select> -->
        </div>
      
        <div class="quiz-cards">

            <app-quiz-card class="quiz-card" *ngFor="let quiz of (currentTab==='active'?activeQuizzes:completedQuizzes)activeQuizzes" [quiz]="quiz" [isCompleted]="currentTab==='completed'"></app-quiz-card>
            
      </div>
</div>
